body{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(234, 94%, 6%);
    color: hsl(0, 0%, 100%);    
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}


.card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.cardtext{         
    width: 500px;
    height: 400px;
    background: hsl(244, 39%, 23%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}

.imgright{    
    width: 500px;
    height: 400px;
    background: hsl(277, 64%, 53%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}

.imgright img{
    margin-right: auto;
    width: 500px;
    height: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

span{    
    color: hsl(277, 64%, 61%);
}

h1{
    text-align: left;
    margin-left: 1rem;
    padding-top: 3rem;
    margin-right: 4rem;
}

p{
    margin-right: 3rem;
    margin-left: 1rem;
    text-align: left;
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 1.6em;
}


.data{
    display: flex;
    gap: 1px;    
  }
  
.data1 {
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;    
}
  
.data2{
    margin-right: 2.5rem;    
    margin-top: 0;
    font-size: 0.7rem;
                
}
@media(max-width:950px){
    body{
        font-size: 12px;
    }

    .card{        
        flex-direction:column-reverse;
        padding: 30px 0;    
    }

    h1{
        text-align: center;
        margin: 0;
    }

    p{
        font-size: 1rem;
        text-align: center;
        margin: 15px 10px 10px; 
    }

    .data1{
        margin-top: 2.5rem;
        margin-left: 4rem;        
        font-size: 1.3rem;                   
    }

    .data2{
        margin-left: 4.5rem;       
        font-size: 0.5rem;
                    
    }
    .imgright, .imgright img{
        border-radius:10px 10px 0 0;
    }
    
    .cardtext{
        border-radius: 0 0 10px 10px ;
    }

   
}


